.tabs {
    display: flex;
}

.menu {
    overflow-y: auto;
    max-height: calc(100vh - 300px);
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}

.menu::-webkit-scrollbar {
    width: 8px;
}

.menu::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.menu::-webkit-scrollbar-track {
    background: #2F2F37;
}

.title {
    margin-top: 0;
}

.menuItems {
    display: grid;
    grid-template-columns: repeat( auto-fill, 268px );
    grid-gap: 32px 24px;
    padding: 0 16px 40px;
    list-style: none;
}

.menuItem {
    position: relative;
    padding: 0 16px;
    cursor: pointer;
}

.menuItemCurrency {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    margin: 0;
    font-family: Iceland;
    font-weight: 400;
    font-size: 28px;
    line-height: .86;
    color: #F2F2F3;
}

.menuItemName {
    min-height: 48px;
    vertical-align: top;
    text-align: center;
    font-family: Jet Brains Mono;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #F2F2F3;
    margin: 0;
}