.header {
    background: #1C1C21;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.link {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    text-decoration: none;
}

.login {
    margin-left: auto;
}